NODE_ENV=development

# CORS: separa por comas (dominios permitidos)
CORS_ORIGIN=http://localhost:3000,http://10.0.2.2:3000,http://localhost:8081,http://192.100.0.11:8001

# Rate Limit
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=120

# Express
PORT=TU_PUERTO_AQUI
BASE_URL=TU_BACKEND_URL_AQUI

# Firebase Admin
GOOGLE_APPLICATION_CREDENTIALS=DIR_A_TU_SECRETO/firebase-service-account.json
FIREBASE_DB_URL=TU_FIREBASE_DB_URL_AQUI

# Marqeta (Sandbox)
MARQETA_BASE=TU_MARQETA_BASE_URL_AQUI
MARQETA_APP_TOKEN=TU_MARQETA_APP_TOKEN_AQUI
MARQETA_ACCESS_TOKEN=TU_MARQETA_ACCESS_TOKEN_AQUI

# Gateway JIT callback secret opcional (si quieres firmar)
JIT_SHARED_SECRET=TU_JIT_SHARED_SECRET_MARQUETA_AQUI


# Entity Secret (ver doc): genera ciphertext por request.
# Para pruebas rápidas puedes inyectar uno “temporal” (NO prod).
ENTITY_SECRET_CIPHERTEXT=<base64> 


# STRIPE
STRIPE_SECRET_KEY=TU_STRIPE_SECRET_KEY_AQUI
STRIPE_PUBLISHABLE_KEY=TU_STRIPE_PUBLISHABLE_KEY_AQUI
STRIPE_WEBHOOK_SECRET=TU_STRIPE_WEBHOOK_SECRET_AQUI

# API version para Ephemeral Key (requiere fijarla al crearla)
STRIPE_API_VERSION=TU_STRIPE_API_VERSION_AQUI

# Credenciales email para notificaciones
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicación